/* Q1 */
.logo{
  color: red;
}

/* Q2 */
nav a{
  color: green;
}

/* Q3 */
nav a:visited{
  color: #444;
}

/* Q4 */
.above-the-fold{
  color: white;
}

/* Q5 */
.above-the-fold button{
  background-color: lightgreen;
  color: white;
}

/* Q6 */
article p::first-letter{
  margin-left: 30px;
}

/* Q7 */
.blog{
  background-color: #666;
  color: #cff;
} 

/* Q8 */
.gallery figure{
  box-shadow: /*horizontal*/5px /*vertical*/10px /*blur*/4px /*color*/ grey;
}

/* Q9 */
.gallery figcaption{
  padding: 8px;
}
/* Q10 */

/* Q11 */
article{
  margin-top: 40px auto 0 auto;
  max-width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
}

/* Q12 */
.article-title{
  text-align: center;
}

/* Q13 */
section h2{
  text-transform: uppercase;
}

/* Q14 Q15 Q16 */
.form-input{
  display: block;
  margin: 36px;
  padding: 5px;
}

/* Q17 */
footer{
  background-color: rgb(48, 48, 48);
  color: #FFA136;
}

/* Q18 */
.form-input:focus{
  border-width: 4px;
}

/* Q19 */
section h2::before{
  content: ">";
}

/* Q20 */
input[name="gender"]{
  margin: 0px 5px 0px 20px;
}